
<!DOCTYPE html>
<html lang="en">
    <head>
         <base href="/">
        
       
        <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" type="text/css" href="./assets/css/animate.css">
 
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
     <script src="./assets/js/angular.js"></script>
      <script src="./assets/js/angular-route.js"></script>
        <script src="./assets/js/angular-animate.js"></script>

       

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
      
      <script src="./app/app.js"></script>
      <script src="./app/routes.js"></script>
      <script src="./app/controllers/controllers.js"></script>
      <script src="./app/controllers/services.js"></script>
      
       
    </head>
  <body ng-app="auth-mw">
       
        <h1 itemprop="name" style="display:none;">Bootply</h1>
       
        
        <div id="wrap">
         
<div class="container-fluid">
 
   {{{body}}}
  


            
        </div>


  
     <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/bootstrap.js"></script>
   
  </body>
 
</html>